<h1>New attachment</h1>

<%= link_to 'Add Attachment' ,"#" ,:id=>"add_attachment_id" %>

<% form_tag('/attachments',:multipart => true ) do |form| %>
<table id="adding_attachment" class="listing" >
  <thead>
   <tr>
    <th width="100">Name</th>
     </tr>
  </thead>
  <tbody id="tbody_id">
      <%= render :partial => "add_form"  %>
  </tbody>
</table>

<tr>
    <td colspan=5><%=submit_tag "Create" %></td>
 </tr>
<% end %>

<%= link_to 'Back', attachments_path %>
<script type="text/javascript">
  $("#add_attachment_id").click(function(){
    $("#tbody_id").append("<%= escape_javascript(render('add_form')) %>")
  });
</script>
